<div class="section us cta wf-section">
    <div class="section-container-lg w-container">
        <div class="call-to-action">
            <div class="div-block-377">
                <h2 class="heading-86">Get started with Firstbase</h2>
                <p class="paragraph-25">Start, grow, and manage your business. We're with you each step of the
                    way. </p>
                <div class="cta-btn-container">
                    <div class="gradient-btn">
                        <div class="gradient--btn"><a href="https://app.firstbase.io/start"
                                class="gradient---btn w-button">Start my business</a></div>
                    </div><a href="https://app.firstbase.io/auth/login" class="secondary-btn w-button">Already
                        incorporated?</a>
                </div>
            </div>
        </div>
    </div>
</div>