<div class="top">
    <div class="toptxt">
        <div class="first">Firstbase Live: All about taxes ·</div>
        <div class="second"><a href="">Register ></a></div>
    </div>
</div>
<div class="navbar">
    <div class="logo"><a href="/">
    <!-- <img
    src="https://assets.website-files.com/609486d2fafa37698a57db5b/609bf4ae6380ac34e545f653_firstbase-logo.svg"
    alt=""> -->
    <div class="logodiv"></div><div class="logotitle"> Unrelenting Enterprises</div>
    </a>
    </div>
    <div class="navbtns">
        <div class="navbtn">
            <a href="product.html">Product</a> 
        </div>
        <div class="navbtn">Company</div>
        <div class="navbtn">Pricing</div>
        <div class="navbtn"><a href="/rewards"> Rewards</a></div>
        <div class="navbtn">Partners</div>
        <div class="navbtn">Resources</div>
    </div>
    <div class="startBusiness">
        <div class="signin">Sign in</div>
        <div class="startbtncover">
            <div class="startbtn">Start my business</div>
        </div>
    </div>
</div>