<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/rewardCss.css">
    <script src="/main.js"></script>
    <title>First</title>
</head>
<body>
    <%- include('../partials/header.ejs'); %>
    <div class="rewardstop">
        <div class="rtitle">More rewards than any other platform.</div>
        <div class="rdis">Access our exclusive network with perks worth over $200,000 and boost your company.</div>
    </div>
    <div class="rewardsbottom">
        <div class="rcategory">
            <div class="catageory all">Categories</div>
            <div class="catagory all">All</div>
            <div class="catageory">Design + Engineering</div>
            <div class="catageory">HR + Payroll Services</div>
            <div class="catageory">Legal + Compliance</div>
            <div class="catageory">Operations + Finance</div>
            <div class="catageory">Sales + Marketing</div>
            <div class="catageory">Tax + Accounting</div>
        </div>
        <div class="rewardsright">
            <div class="rewardsright1">
                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>
            </div>

            <div class="rewardsright1">
                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>
            </div>

            <div class="rewardsright1">
                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>

                <div class="rlogo">
                    <div class="rlogoimg">
                        <img src="https://assets.website-files.com/6094875660e7caf817a85eb9/62a787abadd1bcd38ef69c76_intercom.svg" alt="">
                    </div>
                    <div class="rrightsec">
                        <div class="righttop">100% OFF IN THE FIRST YEAR</div>
                        <div class="rightsite">Intercom</div>
                        <div class="rightdis">We help businesses build strong customer </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    </div>


    <%- include('../partials/getStarted.ejs') %>

    <%- include('../partials/footer.ejs') %>
</body>
<script src="index.js"></script>
</html>